<form action='/memes' method='POST' novalidate class="form-horizontal validated-form">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Meme Owner</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name">
      </div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-group">
      <label for="caption" class="col-sm-2 control-label">Caption</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="caption" name="caption" placeholder="Be creative with the caption">
      </div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">Meme URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL of your meme here">
        </div>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-sm-offset-2 col-sm-10 mt-2">
        <button type="submit" class="btn btn-primary">Submit Meme</button>
    </div>
</form>