<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Home</title>
</head>
<body class='container'>
    <img class='container mt-3' style='max-height: 500px;' src='https://media.makeameme.org/created/enter-at-your-5b71e6.jpg'>
    <a class='btn btn-primary container mt-2' href='/memes'>Click here to add and stream memes!</a>
</body>
</html>